<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Кинотеатр{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav>
        <a href="{{ path('app_home') }}">Главная</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_worker') }}">Рабочая панель</a>
            <a href="{{ path('app_logout') }}">Выйти</a>
        {% elseif is_granted('ROLE_USER') %}
            <a href="{{ path('app_visitor') }}">Личный кабинет</a>
            <a href="{{ path('app_logout') }}">Выйти</a>
        {% else %}
            <a href="{{ path('app_login') }}">Войти</a>
            <a href="{{ path('app_register') }}">Регистрация</a>
        {% endif %}
    </nav>
    {% block body %}{% endblock %}
</body>
</html>